.infoBox {
  flex: 1;
  cursor: pointer;
}
.infoBox__title {
  font-size: 30px;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid #178a15;
}

.infoBox--red {
  border-color: #ef5b25;
}
.infoBox--dark {
  border-color: black;
}

.infoBox__cases--green {
  color: #178a15 !important;
}
.infoBox__cases--dark {
  color: #6c757d;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-bottom: 0.5rem !important;
}
